<!--Profile Home Page -->


<p id="notice"><%= notice %></p>

<div class="user_info">

    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1><br>

    <p><%= current_user.city %>, <%= current_user.state %></p><br>
    
<h3>About Me</h3>    

    <p><%= current_user.about %></p>

</div>
    


<%= link_to 'New Adventure', new_adventure_path %>