<div class="container my_box_center_for_search_mod text-center">
<!--Search Adventure -->
  <p id="notice"><%= notice %></p>

  <h3>Search Users</h3>
  <form class="form-group" action='/users/search_users' method='get'>
    <input class="form-control half-width center-block" type="text" name="creator" id="user" /><br>
    <a href='/users/all'>All Users</a>
    <div class="actions">
      <input class="btn btn-default" type="submit" value="Search"/>
    </div>
  </form>
</div>

<div class="container">
  <% if !@user.nil? %>
    <% if !@user.empty? %>
      <h3 class="text-center">Users found:</h3>

      <div class="row">
        <% @user.each do |f| %>
          <div class="user-box col-md-3 text-center">
            <div class="user-pic">
              <a href="/users/<%= f.id %>" class="transparent">
                <% if f.image.blank? %>
                  <img src="/system/person-placeholder.jpg" class="user-search-image"/>
                <% else %>
                  <%= image_tag f.image.url(:large), class: "user-search-image" %>
                <% end %>
              </a>
            <a href="/users/<%= f.id %>"><h4><%= f.first_name %> <%= f.last_name %></a></h4>
            </div>
          </div>
      <% end %>
    </div>

    <% else %>
      <h3 class="text-center">No Users Found</h3>
    <% end %>
  <% end %>
</div>
