<!--Profile Home Page -->
<div class ="container-fluid"> 
    <div class="row col-sm-5">
        <p id="notice"><%= notice %></p>
    </div>
</div>

<!--User Profile Name and Photo-->
<div class ="container-fluid"> 
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <div class="user_image_placeholder"> <!--Begin Profile Image-->
                    <% if @user.image.blank? %>
                        <img class= "responsive" src="/system/person-placeholder.jpg"/> <!--default photo-->
                    <% else %>
                    <%= image_tag @user.image.url(:med), class:"responsive" %>
                    <% end %>
                        <!--Edit Profile Picture Link-->
                        <% if current_user == @user %>
                            <p class="pointer muted" id="user_pic">Edit Picture</p>
                        <% end %>
                    
                    <!-- Upload Profile Image Options -->
                    <div class="form-group fileinputs2"> 
                        <form role="form" class="form-group user-picture" id="user-picture" action="/users/show/addUserPicture" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
                            <div class="radio-buttons">
                                <p class="muted">Add an Image Options: (select one)</p>
                                <label class="muted padright"><input id="rdb3" type="radio" name="image_cb2" value="3" />Upload Image Using a URL</label>
                                <label class="muted"><input id="rdb4" type="radio" name="image_cb2" value="4" />Upload Image from Local Drive</label>
                            </div><!--end of radio buttons-->
                            <div id="image_3" class="field toHide2 image-url">Enter URL to Upload Your Image: <%= text_field_tag 'image_url2' %>
                            </div>
                            <div id="image_4" class="form-group toHide2 image-file">
                                <label for="adventure_image2">Upload an Image From Your PC:</label><input type="file" class="file" name="user_image" id="adventure_image2" />
                            </div>
                            <div class="actions profile-pic-submit">
                                <input class="btn btn-default" type="submit" name="commit2" value="Add"/>                   <p class="cancel pointer btn btn-default" style="display: inline;" id="cancel">Cancel</p>
                            </div>
                        </form>
                 </div> <!-- End of Upload Profile Image Form-->
                </div><!--End of Profile Image-->
                
                <!-- Name, City, State Display -->            
                <h3 class="inline"><%= @user.first_name %> <%= @user.last_name %></h3>
                <p class="muted"><%= @user.city %>, <%= @user.state %></p>
                
                <!--Follow Button-->
                <% if user_signed_in? %>
                    <% if @user != current_user && !current_user.follows?(@user) %>
                        <div class="follow inline"><a href="/users/<%= @user.id %>/followUser" class="button btn btn-default">Follow</a>
                        </div>
                    <% elsif @user != current_user && current_user.follows?(@user) %>
                        <div class="unfollow inline"><a href="/users/<%= @user.id %>/unfollowUser" class="button btn btn-default">Unfollow</a>
                        </div>
                    <% end %>
                <% end %>
            </div><!-- End of Profile Box-->           
        <!--About Me-->           
            <div>
                <% if @user == current_user %>
                    <h3>About Me</h3>
                <% else %>
                    <h3>About <%= @user.first_name %></h3>
                <% end %>
                    <p class="muted"><%= @user.about %></p>
            </div>
        </div><!--End of column class-->
    </div> <!--End of Profile and About-->
</div> <!--End of Container-->

<!--Bucket List-->
<div class="container-fluid">
    <div class="row well">
            <h2 class="text-center bucket-header">My Bucket List:</h2>
            <% if @user.adventures.any? %>
                <% @user.adventures.each do |adventure| %>
                        <div class="bucket col-md-3 col-sm-6">
                        <div class="tip" >
                            <div class="handle"></div>
                            <div class="img_tip">
                                <%= link_to image_tag(adventure.image.url(:large)), adventure, :class => "image_tip" %>
                            </div><!--end of img_tip-->
                        </div><!--end of tip-->
                        <h4><%= adventure.title.upcase %></h4>
                        <h5><%= adventure.creator %></h5>
                        <% if @user == current_user %>
                            <h5><%= link_to 'Show', adventure %> | <%= link_to 'Edit', edit_adventure_path(adventure) %> | <%= link_to 'Dump', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
                        <% end %>
                        </div><!--End of Bucket List Loop Columns-->
                <% end %>
            <% else %>
                <p>no adventures added</p>
            <% end %>
    </div><!--End of Row-->
</div><!--End of Container-->


<!--Begin Add Adventure -->
<div class="container-fluid">    
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <% if @user == current_user %>
            <h3>Add New Bucket</h3>
                <form role="form" class="form-group new_adventure" id="new_adventure" action="/users/<%= @user.id %>/add_adventure" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
                    <div class="form-group">
                        <label for="adventure_title">Bucket Name</label>
                        <input class="form-control" type="text" name="adventure[title]" id="adventure_title" pla="Adventure Title"/>
                    </div>
                    <div class="form-group">
                            <label for="adventure_description">Description</label>
                            <textarea class="form-control" rows="3" name="adventure[description]" id="adventure_description"></textarea>
                    </div>
                    <div class="form-group">
                            <label for="adventure_duedate">Due Date</label>
                            <input class="form-control" type="date" name="adventure[duedate]" id="adventure_duedate" />
                    </div>
                    <div class="form-group">
                            <label for="adventure_priority">Priority</label>
                            <input class="form-control" type="number" name="adventure[priority]" min="1" max="5" id="adventure_priority"/>
                    </div>

                  <!--Upload Adventure Image Begin -->
                    <div class="form-group fileinputs">
                          <!-- Upload Images Options -->
                          <p>Add an Image Options: <span class="muted">(select one)</span></p>
                          <label class="muted padright"><input id="rdb1" type="radio" name="image_cb" value="1" />Upload Image Using a URL</label>
                          <label class="muted"><input id="rdb2" type="radio" name="image_cb" value="2" />Upload Image from Local Drive</label>
                          <div id="image_1" class="field toHide muted">Enter URL to Upload Your Image: <%= text_field_tag 'image_url' %>
                          </div>
                          <div id="image_2" class="muted form-group toHide">
                            <label class-"muted" for="adventure_image">Upload an Image From Your PC:</label><input type="file" class="file" name="adventure[image]" id="adventure_image" />
                          </div>
                    </div><!-- Upload Image End -->
                   
                    <div class="checkbox">
                      <label for="adventure_completed"><input class="checkbox" type="checkbox" name="adventure[completed]" id="adventure_completed" value="Done"><strong>Done?</strong></label>
                   </div>

                      <div class="form-group actions">
                        <input class="btn btn-default" type="submit" name="commit" value="Add"/>
                      </div>
                </form>
            <% end %>
        </div><!--End of Column-->    
    </div><!--End of Row-->
</div><!--End of Container-->
<!-- End Add Adventure  -->


