<!--Profile Home Page -->


<p id="notice"><%= notice %></p>

<div class="user_info">
    <%= current_user.email %>
    <%= current_user.first_name %>

    <h1><%= @user.first_name %> <%= @user.last_name %></h1><br>

    <p><%= @user.city %>, <%= @user.state %></p><br>
    
<h3>About Me</h3>    

    <p><%= @user.about %></p>

</div>
    


<%= link_to 'New Adventure', new_adventure_path %>