<%= form_for @adventure, html: { multipart: true } do |f| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duedate %><br>
    <%= f.date_select :duedate %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority, in: 1..5 %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>



<div class="field">
<h3 class="well">Adventure Photos</h3>
      <p class="note">Select one or more photos to upload</p>
      <%= file_field_tag "photos[]", type: :file, multiple: true %>
</div>

<% @adventure.pictures.each do |picture| %>   
    <div class="inline-div">
        <%= image_tag(picture.photo.url(:large), :class => "edit_pic") %>
        <div class="block-div"><%= link_to 'Destroy', '/pictures/' + picture.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-image" %>
        </div>
    </div>
<% end %>

<div class="margin">
<div class="actions">
  <%= f.submit(:class => "btn btn-default") %>
</div>
</div>
<% end %>