<%= form_for @adventure, html: { multipart: true } do |f| %>
  <% if @adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container-fluid">
    <div class="row marleft">
        
        <div class="col-sm-3">
            <%= image_tag(@adventure.image.url(:large), :class => "edit_pic marbot border-color")%>
            <p class="main-font">Replace Main Adventure Photo:<%= f.file_field :image %></p>
        </div>
        
        <div class="col-sm-offset-1 col-sm-6">
          <div class="field form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class:"form-control" %>
          </div>  
          <div class="field form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class:"form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :duedate %>
            <%= f.date_select :duedate, class:"form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :priority %>
              <%= f.number_field :priority, in: 1..5, class:"form-control" %>
          </div>
          <div class="field">
            <%= f.label :completed %>
              <%= f.check_box :completed, class:"inline marbot" %>
          </div>
        </div>
    </div>
</div>

<div class="container-fluid well light-background martop">
    <div class="row">
        <div class="col-sm-12">
            <div class="field">
            <h3 class="main-font lg-font">Adventure Photos</h3>
                  <p class="note marhalftop main-font">Add one or more photos to your adventure:</p>
                  <%= file_field_tag "photos[]", type: :file, multiple: true, class:"main-font" %>
            </div>        
            <% @adventure.pictures.each do |picture| %>   
                <div class="inline-div">
                    <%= image_tag(picture.photo.url(:large), :class => "edit_pic martop") %>
                    <div class="block-div"><%= link_to 'Destroy', '/pictures/' + picture.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, id:"destroy-image", class:"main-font" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    
    <div class="row marhalftop">
        <div class="col-sm-12">
            <div class="actions">
                <%= f.submit(:class => "btn btn-buckets") %>
            </div>
            <% end %>
        </div>
    </div>
</div>