<p id="notice"><%= notice %></p>

<h1>Listing Adventures</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Duedate</th>
      <th>Creator</th>
      <th>Priority</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.title %></td>
        <td><%= adventure.description %></td>
        <td><%= adventure.duedate %></td>
        <td><%= adventure.creator %></td>
        <td><%= adventure.priority %></td>
        <td><%= adventure.completed %></td>
        <td><%= link_to 'Show', adventure %></td>
        <td><%= link_to 'Edit', edit_adventure_path(adventure) %></td>
        <td><%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adventure', new_adventure_path %>
