<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @adventure.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @adventure.duedate %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @adventure.creator %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @adventure.priority %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @adventure.completed %>
</p>



<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>


<form action='/adventures/<%= @adventure.id %>/add_comment' method='post'>
    <label for="adventure_comment">Add A Comment For This Adventure</label><br>
    <input type="text" name="comment" id="adventure_comment" /><br>
    <div class="actions">
      <input type="submit" value="Add Comment"/>
    </div>
</form>

<p>
  <strong>Comments:</strong><br>
  <% if !@adventure.comments.empty? %>
  <% @adventure.comments.each do | adventure | %>

    <strong>User</strong><br>
    <%= adventure %><br><br>
    <% end %>
    <% else %>
      <strong>Be the first to comment on this adventure</strong>

  <% end %>
</p>
