<p id="notice"><%= notice %></p>

<p>
  <strong>I did it!  I accomplished:</strong>
  <%= @adventure.title %>
</p>

<p>
  <strong>What did you do?</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>When did you do it?</strong>
  <%= @adventure.duedate %>
</p>

#who did you do it with?
#Add photos
#where did you do it?

<!-- <p>
  <strong>Creator:</strong>
  <%= @adventure.creator %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @adventure.priority %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @adventure.completed %>
</p> -->

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Back', adventures_path %>
