<p id="notice"><%= notice %></p>
<%= render_shareable :buttons=> ['twitter', 'facebook', 'pinterest'] %>
<p>
  <strong>Title:</strong>
  <%= @adventure.title %>
</p>
<%= image_tag(@adventure.image.url(:large), :class => "edit_pic")%>

<% @adventure.pictures.each do |picture| %>
    <%= image_tag(picture.photo.url(:large), :class => "edit_pic") %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @adventure.description %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @adventure.duedate %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @adventure.creator %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @adventure.priority %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @adventure.completed %>
</p>


  <p>
    <strong>Tags:</strong><br>
    <% if !@adventure.tags.empty? %>
      <% @adventure.tags.each do | adventure | %>

        <strong>User</strong><br>
        <%= adventure %><br><br>
      <% end %>
    <% else %>
      <em>Be the first to tag this adventure</em>

    <% end %>


</p>

<p>
  <strong>Comments:</strong><br>
  <% if !@adventure.comments.empty? %>
  <% @adventure.comments.each do | adventure | %>

    <strong>User</strong><br>
    <%= adventure %><br><br>
    <% end %>
    <% else %>
      <em>Be the first to comment on this adventure</em>

  <% end %>
</p>
<!-- Tags -->
  <form role="form" class="form-group" action='/adventures/<%= @adventure.id %>/add_tag' method='post'>
      <div class="form-group">
          <label for="adventure_tag">Add A Tag For This Adventure</label>
          <input class="form-control half-width" type="text" name="tag" id="adventure_tag" />
      </div>
      <div class="actions">
        <input class="btn btn-default" type="submit" value="Add Tag"/>
      </div>
  </form>

<form role="form" class="form-group" action='/adventures/<%= @adventure.id %>/add_comment' method='post'>
    <div class="form-group">
        <label for="adventure_comment">Add A Comment For This Adventure</label>
        <input class="form-control half-width" type="text" name="comment" id="adventure_comment" />
    </div>
    <div class="actions">
      <input class="btn btn-default" type="submit" value="Add Comment"/>
    </div>
</form>

<%= link_to 'Edit', edit_adventure_path(@adventure) %> |
<%= link_to 'Profile', users_show_path %>