<p id="notice"><%= notice %></p>

<p>
  <strong>Adventure:</strong>
    <%= @picture.adventure_id %>
</p>

<p>
  <strong>Image:</strong>
    <%= image_tag(@picture.photo.url(:large))%>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>


