<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render_shareable :buttons=> ['twitter', 'facebook', 'pinterest'] %>

  <div class="wrapper" id="wrapper">
    <div id="user_nav">
      <% if user_signed_in? %>
        Hello <strong><%= current_user.first_name %> <%= current_user.last_name %> |
        <%= link_to 'Edit Profile', edit_user_registration_path %> |
        <%= link_to 'View Profile', users_show_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

    <%= yield %>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
